.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-box {
  width: 400px;
  padding: 40px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; 
}

.input-box {
  position: relative;
  margin-bottom: 30px;

}

.input-box input {
  width: 65%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s;
}

.input-box input:focus {
  border-color: #4caf50; 
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 0 5px;
  font-size: 14px;
  color: #888; 
  transition: top 0.3s, font-size 0.3s, color 0.3s;
}

.input-box input:focus + label, .input-box input:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  color: #555;
}

.btn {
  width: 65%;
  padding: 10px;
  background-color: #4caf50; 
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.login-register {
  margin-top: 20px;
  text-align: center;
}

.register-link {
  color: #4caf50; 
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}
.error-message {
  color: red;
  font-size: 12px;
  position: absolute; 
  bottom: 0; 
  left: 0; 
  width: 100%;
  text-align: center; 
}
