.boxCategoriasCards{
    background-color: #89AA01;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Categorias{
    height: 89vh;
    width: 100%
}