.Cuestionario{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.btn-register{
    width: 150px;
    height: 50px;
    background-color: #89aa01;
    border-style: none;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    margin-bottom: 50px;
}


.ContainerFile{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal{
   
    justify-content: center;
    align-items: center;
}

.btn-sendr{
    display: flex;
    background-color: #89aa01;
    margin: 4px;
    padding: 6px, 12px;
    border-radius: 6px;
    border: none;
    width: 80px;
    height: 38px;
    justify-content: center;
    align-items: center;
}